.m-about{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.95);
	display: none;
	opacity: 0;
	z-index: 9999;
}
.m-about-star{
	position: fixed;
	top: 50%;
	left: 50%;
	width: 520px;
	height: 500px;
	transform: translate(-50%,-50%);
	background: url(../pic/star.png) no-repeat;
	background-size: contain;
}
.m-about-pannel{
	display: none;
	opacity: 0;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 50%;
	height: 50%;
	background: #000;
	box-shadow: 5px 5px 5px;
	z-index: 10000;
}
.m-about-pannel-star{
	display: none;
	opacity: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 50px;
	height: 50px;
	background: url(../pic/star.png) no-repeat;
	background-size: contain;
	cursor: pointer;
	z-index: 10001;
}
.m-about-content{
	display: none;
	opacity: 0;
	width: 100%;
	height: 100%;
	background: url(../pic/about.png);
}
.weibo{
	position: absolute;
	bottom: 40px;
	left: 50%;
	transform: translateX(-50%);
	width: 35px;
	height: 35px;
	background: url(../pic/weibo.png) no-repeat;
	background-size: contain;
	z-index: 10002;
}
.weibo a{
	display: inline-block;
	width: 100%;
	height: 100%;
}