/* 左上角LOGO */
.logo{
	width: 100px;
	height: 56px;
	font: bold 40px "Arial";
	color: #fff;
	text-align: center;
	padding-top: 14px;
	background: #000;
}
/* 顶部导航栏 */
.top .m-nav{
	position: absolute;
	right: 6%;
	top: 54px;
	width: 325px;
	font: 18px "Arial";
}
.m-nav ul{
	color: #000;
}
.m-nav ul li{
	display: inline-block;
	margin-right: 70px;
}
.m-nav ul li:nth-child(3){
	margin: 0;
}
.m-nav ul li a:hover{
	color: #FE3C3C;
}

.m-comment{
	position: relative;
	width: 100%;
	background: #000;
	overflow: hidden;
}
.m-comment-child{
	position: absolute;
	width: 100%;
	background: rgba(0,0,0,0);
	overflow: hidden;	
}

.m-comment-content{
	position: relative;
	margin: 0 auto;
	width: 50%;
	height: 100%;
	font: 24px "宋体";
	color: #fff;
	/*overflow: hidden;*/
	/*overflow-wrap: normal;*/
	line-height: 30px;
}
.m-comment-main{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	line-height: 32px;
}
.m-comment-main span{
	margin-left: -50px;
}

.m-comment-play{
	position: absolute;
	top: 41px;
	left: 97px;
	width: 24px;
	height: 27px;
	background: url(../pic/play.png) no-repeat;
	background-size: contain;
	cursor: pointer;
}
.m-comment-pause{
	position: absolute;
	top: 41px;
	left: 100px;
	width: 16px;
	height: 22px;
	background: url(../pic/pause.png) no-repeat;
	background-size: contain;
	cursor: pointer;	
}

.m-comment-left{
	position: absolute;
	bottom: 41px;
	left: 100px;
	width: 30px;
	height: 18px;
	background: url(../pic/commentPrev.png);
	background-size: contain;
	cursor: pointer;
}
.m-comment-right{
	position: absolute;
	bottom: 41px;
	right: 100px;
	width: 30px;
	height: 18px;
	background: url(../pic/commentNext.png);
	background-size: contain;
	cursor: pointer;
}
/* 留言按钮 */
.m-comment-button{
	position: absolute;
	bottom: 38px;
	right: 6%;
	width: 73px;
	height: 38px;
	background: url(../pic/commentButton.png) no-repeat;
	background-size: contain;
	cursor: pointer;
}
/* 留言界面 */
.m-comment-new{
	opacity: 0;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.95);
}
.m-comment-input{
	position: relative;
	left: 25%;
	top: 25%;
	width: 50%;
	height: 50%;
}
.m-comment-new input{
	width: 100%;
	height: 10%;	
	font: 18px "等线";
	color: #fff;
	background: #000;
	border: none;
}
.m-comment-new textarea{
	width: 100%;
	height: 90%;
	font: 18px "等线";
	color: #fff;
	background: #000;
	border: none;
}
.m-comment-new-close{
	position: absolute;
	bottom: 21%;
	right: 25%;
	width: 16px;
	height: 16px;
	background: url(../pic/wrong.png) no-repeat;
	background-size: contain;
	cursor: pointer;
}
.m-comment-new-return{
	position: absolute;
	bottom: 21%;
	right: 27%;
	width: 22px;
	height: 16px;
	background: url(../pic/yes.png) no-repeat;
	background-size: contain;
	cursor: pointer;
}

@media screen and (max-width: 500px){
	/* 顶栏 */
		.top{
			width: 100%;
			height: 70px;
			position: fixed;
			left: 0;
			top: 0;
			z-index: 1;
			background: #fff;
			box-shadow: 0 2px 2px #333; 
		}
	/* 左上角LOGO */
		.logo{
			width: 80px;
			height: 56px;
			font: bold 40px "Arial";
			color: #000;
			text-align: center;
			padding-top: 14px;
			background: #fff;
		}
	/* 顶部导航栏 */
		.top .m-nav{
			position: absolute;
			right: 6%;
			top: 24px;
			width: 26px;
			height: 26px;
			font: 15px "Arial";
			color: #000;
			background: url(../pic/menu.png) 100% 100% / contain no-repeat;
		}
		.m-nav ul{
			display: none;
			width: 190px;
			position: absolute;
			right: 0;
			bottom: -2px;
		}
		.m-nav ul li{
			display: inline-block;
			margin-right: 20px;
		}
		.m-nav ul li:nth-child(3){
			margin: 0;
		}
		.m-nav ul li a:hover{
			color: #FE3C3C;
		}
	/* 评论板块 */
	.m-comment{
		width: 100%;
		position: relative;
		top: 70px;
		background: #fff;
		overflow: hidden;
	}
	.m-comment-child{
		display: none;
		position: absolute;
		width: 100%;
		background: rgba(0,0,0,0);
		overflow: hidden;	
	}

	.m-comment-content{
		position: relative;
		margin: 0 auto;
		width: 90%;
		height: 200px;
		margin: 5%;
		border: 1px solid #ccc;
		box-shadow: 5px 5px 5px #ccc;
		font: 24px "宋体";
		color: #000;
		line-height: 30px;
		background: #fff;
	}
	.m-comment-main{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		line-height: 32px;
	}
	.m-comment-main span{
		margin-left: -50px;
	}

	.m-comment-play{
		position: absolute;
		top: 41px;
		left: 97px;
		width: 24px;
		height: 27px;
		background: url(../pic/play.png) no-repeat;
		background-size: contain;
		cursor: pointer;
	}
	.m-comment-pause{
		position: absolute;
		top: 41px;
		left: 100px;
		width: 16px;
		height: 22px;
		background: url(../pic/pause.png) no-repeat;
		background-size: contain;
		cursor: pointer;	
	}

	.m-comment-left{
		position: absolute;
		bottom: 41px;
		left: 100px;
		width: 30px;
		height: 18px;
		background: url(../pic/commentPrev.png);
		background-size: contain;
		cursor: pointer;
	}
	.m-comment-right{
		position: absolute;
		bottom: 41px;
		right: 100px;
		width: 30px;
		height: 18px;
		background: url(../pic/commentNext.png);
		background-size: contain;
		cursor: pointer;
	}
	/* 留言按钮 */
	.m-comment-button{
		display: none;
		position: absolute;
		bottom: 38px;
		right: 6%;
		width: 73px;
		height: 38px;
		background: url(../pic/commentButton.png) no-repeat;
		background-size: contain;
		cursor: pointer;
	}
	/* 留言界面 */
	.m-comment-new{
		opacity: 0;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 9999;
		width: 100%;
		height: 100%;
		background: rgba(0,0,0,.95);
	}
	.m-comment-input{
		position: relative;
		left: 25%;
		top: 25%;
		width: 50%;
		height: 50%;
	}
	.m-comment-new input{
		width: 100%;
		height: 10%;	
		font: 18px "等线";
		color: #fff;
		background: #000;
		border: none;
	}
	.m-comment-new textarea{
		width: 100%;
		height: 90%;
		font: 18px "等线";
		color: #fff;
		background: #000;
		border: none;
	}
	.m-comment-new-close{
		position: absolute;
		bottom: 21%;
		right: 25%;
		width: 16px;
		height: 16px;
		background: url(../pic/wrong.png) no-repeat;
		background-size: contain;
		cursor: pointer;
	}
	.m-comment-new-return{
		position: absolute;
		bottom: 21%;
		right: 27%;
		width: 22px;
		height: 16px;
		background: url(../pic/yes.png) no-repeat;
		background-size: contain;
		cursor: pointer;
	}
}