/* loading */
.loading{
	position: fixed;
	top: 0;
	left: 0;
	width: 0;
	height: 2px;
	background: #f86060;
}

/* 左上角LOGO */
.logo{
	width: 100px;
	height: 56px;
	font: bold 40px "Arial";
	color: #fff;
	text-align: center;
	padding-top: 14px;
	background: #000;
}

/* 顶部导航栏 */
.top .m-nav{
	position: absolute;
	right: 6%;
	top: 54px;
	width: 325px;
	font: 18px "Arial";
	color: #000;
}
.m-nav ul li{
	display: inline-block;
	margin-right: 70px;
}
.m-nav ul li:nth-child(3){
	margin: 0;
}
.m-nav ul li a:hover{
	color: #FE3C3C;
}

/* 展示橱窗 */
.m-showBar{
	/* height和top由js确定，以适配不同浏览器可用高度 */
	position: relative;
	width: 100%;
	background: #000;
}
.m-showBar-tab{
	position: absolute;
	right: 6%;
	left: 24%;
	height: 100%;
	overflow: hidden;
}
.m-showBar-tab-pic{
	position: relative;
	left: 0;
	height: 100%;
}
.m-showBar-tab-pic img{
	position: absolute;
	opacity: .75;
	width: 100%;
	height: 100%;
}
/* 中间小logo */
.m-showBar-logo{
	width: 100px;
	height: 38px;
	position: absolute;
	left: 24%;
	top: 50%;
	margin: -25px 0 0 -50px;
	font: bold 22px "Arial";
	color: #fff;
	text-align: center;
	padding-top: 12px;	
	background: rgba(248,96,96,.75);
}

/* 文章展示 */
.m-text{
	width: 100%;
	overflow: hidden;
}
.m-text-block{
	opacity: 0;
	visibility: hidden;
	width: 950px;
	height: 161px;
	position: relative;
	margin: 0 auto;
	padding: 75px 25px;
	border-bottom: solid 1px #c9c9c9;
}
.m-text-block:first-child{
	padding: 0 25px 75px 25px;
}
.m-text-date{
	float: left;
	height: 156px;
	width: 158px;
	margin: -10px 0 0;
}
.m-text-date-d{
	font: bold 60px "Arial";
	color: #FE3C3C;
	text-align: center;
}
.m-text-date-m{
	font: bold 15px "Arial";
	text-align: center;
	margin: 10px 0 0;
}
.m-text-title{
	font: bold 39px "等线";
}
.m-text-title a:hover{
	color: #FE3C3C;
}
.m-text-content{
	font:  20px "等线";
	height: 111px;
	line-height: 37px;
	margin: 19px 0 0;
	/*text-overflow: ellipsis;*/
    overflow: hidden;
    /*white-space: nowrap;*/
}
.no-more{
	text-align: center;
	background: url(../pic/no-more.png) 50% 50% no-repeat;
}

/* 翻页 */
.m-pageNumber{
	font: 22px "Arial";
	color: #000;
	text-align: center;
	margin: 80px auto 130px;
}
.m-pageNumber li{
	display: inline-block;
	margin: 0 25px 0 0;
	cursor: pointer;
}
.m-pageNumber li:nth-child(4){
	margin: 0;
}
.m-pageNumber a:hover{
	color: #FE3C3C;
}
/* 底栏 */
.bottom{
	position: relative;
	width: 100%;
	height: 100px;
	background: #f5f5f5;
	font: 15px "Arial";
	color: #000;
	overflow: hidden;
}
.bottom-heart{
	position: relative;
	top: 25px;
	margin: 0 auto;
	width: 44px;
	height: 40px;
	background: url(../pic/heart.png) no-repeat;
	background-size: contain;
}
.bottom .m-nav{
	position: absolute;
	text-align: center;
	padding-top: 41px;
	width: 50%;
	height: 18px;
}
.bottom-copyright{
	text-align: center;
	position: absolute;
	right: 0;
	padding-top: 41px;
	width: 50%;
}

@media screen and (max-width: 1024px){

}

@media screen and (max-width: 500px){
	/* loading */
		.loading{
			display: none;
			position: fixed;
			top: 0;
			left: 0;
			width: 0;
			height: 2px;
			background: #f86060;
		}

	/* 左上角LOGO */
		.logo{
			width: 80px;
			height: 56px;
			font: bold 40px "Arial";
			color: #000;
			text-align: center;
			padding-top: 14px;
			background: #fff;
		}

	/* 顶部导航栏 */
		.top .m-nav{
			position: absolute;
			right: 6%;
			top: 24px;
			width: 26px;
			height: 26px;
			font: 15px "Arial";
			color: #000;
			background: url(../pic/menu.png) 100% 100% / contain no-repeat;
		}
		.m-nav ul{
			display: none;
			width: 200px;
			position: absolute;
			right: 0;
			bottom: -2px;
		}
		.m-nav ul li{
			display: inline-block;
			margin-right: 20px;
		}
		.m-nav ul li:nth-child(3){
			margin: 0;
		}
		.m-nav ul li a:hover{
			color: #FE3C3C;
		}

	/* 展示橱窗 */
		.m-showBar{
			/* height和top由js确定，以适配不同浏览器可用高度 */
			width: 100%;
			height: 200px;
			position: relative;
			background: #000;
		}
		.m-showBar-tab{
			position: absolute;
			right: 0;
			left: 0;
			height: 100%;
			overflow: hidden;
		}
		.m-showBar-tab-pic{
			position: relative;
			left: 0;
			height: 100%;
		}
		.m-showBar-tab-pic img{
			position: absolute;
			opacity: .75;
			width: 100%;
			height: 100%;
		}
		/* 中间小logo */
		.m-showBar-logo{
			display: none;
			width: 100px;
			height: 38px;
			position: absolute;
			left: 24%;
			top: 50%;
			margin: -25px 0 0 -50px;
			font: bold 22px "Arial";
			color: #fff;
			text-align: center;
			padding-top: 12px;	
			background: rgba(248,96,96,.75);
		}

	/* 文章展示 */
		.m-text{
			width: 100%;
			overflow: hidden;
		}
		.m-text-block{
			opacity: 0;
			visibility: hidden;
			width: 100%;
			height: 160px;
			position: relative;
			margin: 0;
			padding: 20px 0;
			border-bottom: solid 1px #c9c9c9;
		}
		.m-text-block:first-child{
			padding: 20px 0;
		}
		.m-text-date{
			float: left;
			width: 15%;
			height: 80%;
			margin: 0 5%;
		}
		.m-text-date-d{
			font: 30px "Arial";
			color: #FE3C3C;
			text-align: center;
		}
		.m-text-date-m{
			font: 12px "Arial";
			text-align: center;
			margin: 10px 0 0;
		}
		.m-text-outline{
			width: 70%;
			float: right;
			padding-right: 5%;
		}
		.m-text-title{
			overflow: hidden;
			width: 100%;
			height: 32px;
			font: 28px "等线";
		}
		.m-text-title a:hover{
			color: #FE3C3C;
		}
		.m-text-content{
			font: 15px "等线";
			width: 100%;
			line-height: 23px;
			margin: 10px 0 0;
			/*text-overflow: ellipsis;*/
		    overflow: hidden;
		    /*white-space: nowrap;*/
		}
		.no-more{
			text-align: center;
			background: url(../pic/no-more.png) 50% 50% no-repeat;
			background-size: 50% 25%;
		}

	/* 翻页 */
		.m-pageNumber{
			font: 15px "Arial";
			color: #000;
			text-align: center;
			margin: 30px auto 30px;
		}
		.m-pageNumber li{
			display: inline-block;
			margin: 0 25px 0 0;
			cursor: pointer;
		}
		.m-pageNumber li:nth-child(4){
			margin: 0;
		}
		.m-pageNumber a:hover{
			color: #FE3C3C;
		}

	/* 底栏 */
		.bottom{
			position: relative;
			width: 100%;
			height: 50px;
			background: #f5f5f5;
			font: 15px "Arial";
			color: #000;
			overflow: hidden;
		}
		.bottom-heart{
			position: relative;
			top: 15px;
			margin: 0 auto;
			width: 22px;
			height: 20px;
			background: url(../pic/heart.png) no-repeat;
			background-size: contain;
		}
		.bottom .m-nav{
			display: none;
			position: absolute;
			text-align: center;
			padding-top: 41px;
			width: 50%;
			height: 18px;
		}
		.bottom-copyright{
			display: none;
			text-align: center;
			position: absolute;
			right: 0;
			padding-top: 41px;
			width: 50%;
		}
}