/* 顶部栏 */
.header{
	display: none;
	width: 100%;
	height: 60px;
	position: fixed;
	left: 0;
	top: 0;
	background: rgba(0,0,0,.9);
}
.header a{
	width: 30px;
	height: 30px;
	position: absolute;
	left: 15px;
	top: 15px;
	background: url(../pic/return.png) no-repeat;
	background-size: contain;
}

/* 内容 */
.content{
	width: 90%;
	margin: 0 auto;
	font-family: "宋体";
	font-size: 14px;
}
.content h1{
	padding: 30px 0 10px;
	font-size: 20px;
	font-weight: bold;
}
.content p{
	margin-bottom: 10px;
}
.content div{
	line-height: 20px;
}

/* 主题 */
.night{
	color: #fff;
	background: #333;
}
.light{
	color: #fff;
	background: #e9dfc7;	
}
.soft{
	color: #fff;
	background: #a4a4a4;	
}
.dark{
	color: #fff;
	background: #283548;	
}

/* 底部栏 */
.footer{
	display: none;
	width: 100%;
	height: 60px;
	position: fixed;
	left: 0;
	bottom: 0;
	font: 12px "宋体";
	color: #fff;
	text-align: center;
	background: rgba(0,0,0,.9);
}
.footer img{
	width: 30px;
	height: 30px;
}
.footer-opt{
	position: relative;
	top: 6px;
	display: inline-block;
}
.footer-opt:nth-child(2){
	margin: 0 20%;
}

/* 字体面板 */
.font-panel{
	display: none;
	width: 100%;
	height: 60px;
	position: fixed;
	left: 0;
	bottom: 60px;	
	text-align: center;
	line-height: 60px;
	vertical-align: middle;
	background: rgba(0,0,0,.9);
}
.font-panel-size{
	display: inline-block;
	margin: 0 20%;
	vertical-align: middle;
	font-size: 18px;
	color: #fff;
}
.font-panel img{
	vertical-align: middle;
}

/* 主题面板 */
.theme-panel{
	display: none;
	width: 100%;
	height: 60px;
	position: fixed;
	left: 0;
	bottom: 60px;
	text-align: center;
	background: rgba(0,0,0,.9);
}
.theme{
	width: 30px;
	height: 30px;
	border: 1px solid rgba(0,0,0,.9);
	border-radius: 50%;
	display: inline-block;
	position: relative;
	top: 14px;
	margin-right: 5%;
}
.theme:nth-child(1){
	background: #fff;
}
.theme:nth-child(2){
	background: #e9dfc7;
}
.theme:nth-child(3){
	background: #a4a4a4;
}
.theme:nth-child(4){
	background: #283548;
}
.theme:nth-child(5){
	background: #333;
	margin-right: 0;
}
.theme-selected{
	border-color: #FFBF00;
}

.tap-area{
	opacity: 0;
	width: 100%;
	height: 40%;
	position: fixed;
	top: 30%;
}